html, body {
  height: 100%;
  margin: 0;
  overflow: hidden;  
}

#videoBackground {
  position: absolute; right: 0; top: 0;
  min-width: 100%;
  width: 100%; height: auto;
}

.landingPageMessage {
  position: relative;
  height: 100%;  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  color: white;
  font-weight: bold;
  font-family: 'Barlow';
}

.landingPageMessage .logoContainer .logo {
  width: 80%;
}

.landingPageMessage .teamText {
  font-size: 3em;
}

.landingPageMessage .socialNetworks {
  padding: 20px 0;
}

.landingPageMessage .socialNetworks .icon {
  width: 13%;
}

@media screen and (max-device-width: 768px) {
  #videoBackground {
    display: none;
  }

  .landingPageMessage {
    background: black;
  }

  .landingPageMessage .logoContainer .logo {
    width: 100%;
  }

  .landingPageMessage .teamText {
    font-size: 2em;
  }

  .landingPageMessage .socialNetworks .icon {
    width: 25%;
  }
}