html, body {
  height: 100%;
  margin: 0;
}

.landingPageMessage {
  height: 100%;  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  background-color: grey;
  color: black;
  font-family: 'Barlow';
}

.landingPageMessage .logoContainer .logo {
  width: 80%;
}

.landingPageMessage .teamText {
  font-size: 40px;
}

.landingPageMessage .socialNetworks {
  padding: 20px 0;
}

.landingPageMessage .socialNetworks .icon {
  width: 13%;
  cursor: pointer;
}
