html, body {
  height: 100%;
  margin: 0;
}

.landingPageMessage {
  height: 100%;  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #0d3dc1;
  color: white;
  font-family: 'Barlow';
}

.landingPageMessage .announcementText {
  font-size: 70px;
}

.landingPageMessage .teamText {
  font-size: 40px;
  margin-left: 30%;
  margin-top: 30px;
}
